<!-- Navigation -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <app-navigation></app-navigation>
    <main class="mdl-layout__content">
        <div class="page-content">
            <!-- Your content goes here -->

            <app-loader [time]="2000"></app-loader>
            <router-outlet></router-outlet>

        </div>
    </main>

    <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer__left-section">
            <div class="mdl-logo">Title</div>
            <ul class="mdl-mini-footer__link-list">
                <li><a href="#">Help</a></li>
                <li><a href="#">Privacy & Terms</a></li>
            </ul>
        </div>
    </footer>

</div>